.menu{  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}
  
.menu a{
  margin: 0 0.8em;
  padding: 0.6em;
  text-decoration: none;
  color: #000;
  font-size: 1em;
  font-weight: bold;
  border-radius: 1em;
  background-color: #fff;
  box-shadow: 0 0 1em #00000033;
  transition: all 300ms;
}

.menu a:hover{
  background-color: #000;
  color: #fff;
}